In [3]:
import numpy as np
import pandas as pd
import unicodedata

In [4]:
%ls

EDA.ipynb
Homicidios_accidente_de_tr_nsito_Polic_a_Nacional.csv
Readme.md
Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv
Reporte__Delitos_sexuales_Polic_a_Nacional.csv
poblacion_colombia_2018.csv

In [5]:
murders = pd.read_csv('Homicidios_accidente_de_tr_nsito_Polic_a_Nacional.csv').drop_duplicates()
intrafamiliar_violence = pd.read_csv('Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv').drop_duplicates()
sexual_crimes = pd.read_csv('Reporte__Delitos_sexuales_Polic_a_Nacional.csv').drop_duplicates()

/var/folders/9r/j_191mrd3gs489ycgpr58pqc0000gn/T/ipykernel_58977/2742612490.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  intrafamiliar_violence = pd.read_csv('Reporte_Delito_Violencia_Intrafamiliar_Polic_a_Nacional.csv').drop_duplicates()

In [6]:

def get_affected_states_on_last_year(dataframe, top_3=True):
    dataframe['AÑO'] = dataframe['FECHA HECHO'].apply(lambda x: x.split('/')[2])
    last_year = np.sort(dataframe['AÑO'].unique())[-1]
    result = dataframe[dataframe['AÑO'] == last_year]['DEPARTAMENTO'].value_counts()
    if top_3:
        return result.iloc[:3]
    return result


def get_affected_states_historicaly(dataframe, top_3=True):
    result = dataframe['DEPARTAMENTO'].value_counts()
    if top_3:
        return result.iloc[:3]
    return result


def get_common_historically_weapon(dataframe):
    result = dataframe['ARMAS MEDIOS'].value_counts().iloc[:1]
    return result


def get_genre_values(dataframe):
    result = dataframe['GENERO'].value_counts()
    return pd.DataFrame(result)

def get_age_values(dataframe):
    result = (
        dataframe['GRUPO ETARÍO'] if dataframe.get('GRUPO ETARÍO') is not None else dataframe.get('GRUPO ETARIO')
    ).value_counts()
    return pd.DataFrame(result)

def get_genre_variation(dataframe):
    dataframe['AÑO'] = dataframe['FECHA HECHO'].apply(lambda x: x.split('/')[2])
    count_by_year_and_genre = dataframe.groupby(by=['GENERO','AÑO']).count().reset_index().loc[:, ['GENERO', 'AÑO', 'CANTIDAD']]
    std_by_year = count_by_year_and_genre.groupby(by='GENERO').std()
    return std_by_year[~std_by_year['CANTIDAD'].isna()]

def get_age_variation(dataframe):
    dataframe['AÑO'] = dataframe['FECHA HECHO'].apply(lambda x: x.split('/')[2])
    group_index = 'GRUPO ETARIO' if dataframe.get('GRUPO ETARIO') is not None else 'GRUPO ETARÍO'
    count_by_year_and_genre = dataframe.groupby(by=[group_index, 'AÑO']).count().reset_index().loc[:, [group_index, 'AÑO', 'CANTIDAD']]
    std_by_year = count_by_year_and_genre.groupby(by=group_index).std()
    return std_by_year[~std_by_year['CANTIDAD'].isna()]

def get_month_proportion(dataframe):
    dataframe['MES'] = dataframe['FECHA HECHO'].apply(lambda x: x.split('/')[1])
    return dataframe.groupby(by='MES').count()['CANTIDAD']

### Departamentos más afectados a nivel historico y en el ultimo año

In [7]:
print('Homicidios por accidente de transito según el departamento')
print('Historicamente:', get_affected_states_historicaly(murders))
print('Ultimo año:', get_affected_states_on_last_year(murders))

Homicidios por accidente de transito según el departamento
Historicamente: CUNDINAMARCA    8745
ANTIOQUIA       7459
VALLE           7456
Name: DEPARTAMENTO, dtype: int64
Ultimo año: ANTIOQUIA       1034
CUNDINAMARCA     876
VALLE            603
Name: DEPARTAMENTO, dtype: int64

In [8]:
print('Violencia intrafamiliar según el departamento')
print('Historicamente:', get_affected_states_historicaly(intrafamiliar_violence))
print('Ultimo año:', get_affected_states_on_last_year(intrafamiliar_violence))

Violencia intrafamiliar según el departamento
Historicamente: CUNDINAMARCA    70193
ANTIOQUIA       53609
VALLE           44388
Name: DEPARTAMENTO, dtype: int64
Ultimo año: CUNDINAMARCA    8826
ANTIOQUIA       7512
VALLE           4866
Name: DEPARTAMENTO, dtype: int64

In [9]:
print('Crimenes sexuales según el departamento')
print('Historicamente:', get_affected_states_historicaly(sexual_crimes))
print('Ultimo año:', get_affected_states_on_last_year(sexual_crimes))

Crimenes sexuales según el departamento
Historicamente: CUNDINAMARCA    39007
ANTIOQUIA       26782
VALLE           24242
Name: DEPARTAMENTO, dtype: int64
Ultimo año: CUNDINAMARCA    5204
ANTIOQUIA       3744
VALLE           2230
Name: DEPARTAMENTO, dtype: int64

### Arma o medio más común

In [10]:
print('Homicidios por accidente de transito medio común')
print('Historicamente:', get_common_historically_weapon(murders))

Homicidios por accidente de transito medio común
Historicamente: VEHICULO    33674
Name: ARMAS MEDIOS, dtype: int64

In [11]:
print('Violencia intrafamiliar medio común')
print('Historicamente:', get_common_historically_weapon(intrafamiliar_violence))

Violencia intrafamiliar medio común
Historicamente: CONTUNDENTES    238927
Name: ARMAS MEDIOS, dtype: int64

In [12]:
print('Crimenes sexuales medio común')
print('Historicamente:', get_common_historically_weapon(sexual_crimes))

Crimenes sexuales medio común
Historicamente: SIN EMPLEO DE ARMAS    108905
Name: ARMAS MEDIOS, dtype: int64

### 3. Proporción de géneros y grupos etaríos

- Para homicidios por accidente de transito, cabe recalcar que el genero Femenino tiene menos variacion , y el grupo etarío con más variación es el de los adultos.

- Para violencia intrafamiliar, el genero Femenino es el que más tiene variacion y proporcion en los datos, el grupo etarío tambien es el de los adultos.

- Para crimenes sexuales, el genero Femenino es el que más tiene proporción en los datos, y el grupo etarío con más varianza es el de los niños, asi como la mayor proporción.

In [13]:
print(
f"""
Homicidios por accidente de transito

Proporción Genero
{get_genre_values(murders)}


Variación Genero
{get_genre_variation(murders)}


Proporción Etarío
{get_age_values(murders)}


Variación Etarío
{get_age_variation(murders)}


""")

print('---------------------')

print(
f"""
Violencia intrafamiliar


Proporción Genero
{get_genre_values(intrafamiliar_violence)}


Variación Genero
{get_genre_variation(intrafamiliar_violence)}


Proporción Etarío
{get_age_values(intrafamiliar_violence)}


Variación Etarío
{get_age_variation(intrafamiliar_violence)}
""")

print('---------------------')

print(
f"""
Crimenes sexuales


Proporción Genero
{get_genre_values(sexual_crimes)}


Variación Genero
{get_genre_variation(sexual_crimes)}


Proporción Etarío
{get_age_values(sexual_crimes)}


Variación Etarío
{get_age_variation(sexual_crimes)}
""")

Homicidios por accidente de transito

Proporción Genero
            GENERO
MASCULINO    45784
FEMENINO     11893
NO REPORTA      15


Variación Genero
              CANTIDAD
GENERO
FEMENINO    136.571965
MASCULINO   615.365720
NO REPORTA    1.000000


Proporción Etarío
              GRUPO ETARÍO
ADULTOS              52739
ADOLESCENTES          2842
MENORES               2111


Variación Etarío
                CANTIDAD
GRUPO ETARÍO
ADOLESCENTES   31.939811
ADULTOS       727.208668
MENORES        32.038211



---------------------

Violencia intrafamiliar


Proporción Genero
              GENERO
FEMENINO      352390
MASCULINO     110918
NO REPORTA       294
NO REPORTADO      33
-                  7


Variación Genero
                CANTIDAD
GENERO
FEMENINO    12044.514027
MASCULINO    4265.321704
NO REPORTA     23.968730


Proporción Etarío
              GRUPO ETARIO
ADULTOS             405002
ADOLESCENTES         30194
MENORES              26803
NO REPORTA             274
NO REPORTADO            34


Variación Etarío
                  CANTIDAD
GRUPO ETARIO
ADOLESCENTES   1142.723687
ADULTOS       13595.552032
MENORES        1579.283178
NO REPORTA       24.824943
NO REPORTADO     22.627417

---------------------

Crimenes sexuales


Proporción Genero
            GENERO
FEMENINO    198887
MASCULINO    33919
NO REPORTA     645
-                2


Variación Genero
               CANTIDAD
GENERO
FEMENINO    8120.604080
MASCULINO   1421.221783
NO REPORTA   198.516246


Proporción Etarío
              GRUPO ETARIO
MENORES             113367
ADULTOS              74101
ADOLECENTES          37652
ADOLESCENTES          8069
NO REPORTA              42


Variación Etarío
                 CANTIDAD
GRUPO ETARIO
ADOLECENTES   1661.683692
ADULTOS       3169.352514
MENORES       4690.864645

### Proporción por mes

In [14]:
print(get_month_proportion(murders))
print(get_month_proportion(intrafamiliar_violence))
print(get_month_proportion(sexual_crimes))

MES
01    4939
02    4573
03    4793
04    4307
05    4536
06    4743
07    4845
08    4767
09    4791
10    5121
11    4819
12    5500
Name: CANTIDAD, dtype: int64
MES
01    39936
02    39528
03    41090
04    38432
05    41597
06    38257
07    38991
08    40024
09    40026
10    38240
11    35378
12    32143
Name: CANTIDAD, dtype: int64
MES
01    20245
02    19829
03    20648
04    19190
05    20866
06    19136
07    20053
08    21094
09    20600
10    19851
11    17670
12    14569
Name: CANTIDAD, dtype: int64

### Proporción descripciones o delito

In [15]:
print('Homicidios por accidente de transito')
murders['DESCRIPCIÓN CONDUCTA'].value_counts()

Homicidios por accidente de transito

ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO)        57724
ARTÍCULO 110. HOMICIDIO CULPOSO ( CIRCUNSTANCIAS DE AGRAVACIÓN)       10
Name: DESCRIPCIÓN CONDUCTA, dtype: int64

In [16]:
print('Crimenes sexuales')
(sexual_crimes['delito'].value_counts() / sexual_crimes['delito'].value_counts().sum()).head()

Crimenes sexuales

ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS           0.321308
ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR DE 14 AÑOS    0.228876
ARTÍCULO 205. ACCESO CARNAL VIOLENTO                        0.157822
ARTÍCULO 206. ACTO SEXUAL VIOLENTO                          0.108924
ARTÍCULO 210 A. ACOSO SEXUAL                                0.064064
Name: delito, dtype: float64

### Bono

In [17]:
sample_population = pd.read_csv('poblacion_colombia_2018.csv', delimiter=';').drop_duplicates()

In [18]:
def normalize_and_capitalize(text):
    return unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode("utf-8").upper()

# Columns of sample poblation to upper and change columns types
sample_population.columns = [column.upper() for column in sample_population.columns]
sample_population['POBLACIÓN'] = sample_population['POBLACIÓN'].apply(lambda x: x.replace('.', '')).astype(int)
sample_population['DEPARTAMENTO'] = sample_population['DEPARTAMENTO'].astype(str)
# Normalize text after merge
sample_population['DEPARTAMENTO'] = sample_population['DEPARTAMENTO'].apply(lambda text: normalize_and_capitalize(text))
murders['DEPARTAMENTO'] = murders['DEPARTAMENTO'].apply(lambda text: normalize_and_capitalize(text))
intrafamiliar_violence['DEPARTAMENTO'] = intrafamiliar_violence['DEPARTAMENTO'].apply(lambda text: normalize_and_capitalize(text))
sexual_crimes['DEPARTAMENTO'] = sexual_crimes['DEPARTAMENTO'].apply(lambda text: normalize_and_capitalize(text))

In [19]:
common_column_names = ['DEPARTAMENTO', 'CONTEO']

In [20]:
# Get murder information
murders_by_state_historically = get_affected_states_historicaly(murders, False).reset_index()
murders_by_state_historically.columns = common_column_names
murders_by_state_last_year = get_affected_states_on_last_year(murders, False).reset_index()
murders_by_state_last_year.columns = common_column_names

# Merge and get results
murders_by_state_historically_with_population = pd.merge(murders_by_state_historically, sample_population, how='left', on='DEPARTAMENTO').dropna()
murders_by_state_last_year_with_population = pd.merge(murders_by_state_last_year, sample_population, how='left', on='DEPARTAMENTO').dropna()

# Results
murders_by_state_historically_with_population['NORMALIZED'] = murders_by_state_historically_with_population['CONTEO'] / murders_by_state_historically_with_population['POBLACIÓN']
murders_by_state_last_year_with_population['NORMALIZED'] = murders_by_state_last_year_with_population['CONTEO'] / murders_by_state_last_year_with_population['POBLACIÓN']

In [35]:
print(murders_by_state_historically_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3])

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
12       BOYACA    1756   172548.0    0.010177
7         CAUCA    2047   318059.0    0.006436
22       ARAUCA     511    85585.0    0.005971

In [30]:
murders_by_state_last_year_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3]

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
24     PUTUMAYO      57    56398.0    0.001011
14       BOYACA     169   172548.0    0.000979
23       ARAUCA      59    85585.0    0.000689

In [23]:
# Get intrafamiliar violence information
intrafamiliar_violence_by_state_historically = get_affected_states_historicaly(intrafamiliar_violence, False).reset_index()
intrafamiliar_violence_by_state_historically.columns = common_column_names
intrafamiliar_violence_by_state_last_year = get_affected_states_on_last_year(intrafamiliar_violence, False).reset_index()
intrafamiliar_violence_by_state_last_year.columns = common_column_names

# Merge and get results
intrafamiliar_violence_by_state_historically_with_population = pd.merge(intrafamiliar_violence_by_state_historically, sample_population, how='left', on='DEPARTAMENTO').dropna()
intrafamiliar_violence_by_state_last_year_with_population = pd.merge(intrafamiliar_violence_by_state_last_year, sample_population, how='left', on='DEPARTAMENTO').dropna()


# Results
intrafamiliar_violence_by_state_historically_with_population['NORMALIZED'] = intrafamiliar_violence_by_state_historically_with_population['CONTEO'] / intrafamiliar_violence_by_state_historically_with_population['POBLACIÓN']
intrafamiliar_violence_by_state_last_year_with_population['NORMALIZED'] = intrafamiliar_violence_by_state_last_year_with_population['CONTEO'] / intrafamiliar_violence_by_state_last_year_with_population['POBLACIÓN']

In [31]:
intrafamiliar_violence_by_state_historically_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3]

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
4        BOYACA   27822   172548.0    0.161242
3     SANTANDER   39174   581130.0    0.067410
24     PUTUMAYO    3311    56398.0    0.058708

In [32]:
intrafamiliar_violence_by_state_last_year_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3]

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
4        BOYACA    3061   172548.0    0.017740
23     PUTUMAYO     399    56398.0    0.007075
3     SANTANDER    4103   581130.0    0.007060

In [26]:
# Get sexual crime information
sexual_crimes_by_state_historically = get_affected_states_historicaly(sexual_crimes, False).reset_index()
sexual_crimes_by_state_historically.columns = common_column_names
sexual_crimes_by_state_last_year = get_affected_states_on_last_year(sexual_crimes, False).reset_index()
sexual_crimes_by_state_last_year.columns = common_column_names

# Merge and get results
sexual_crimes_by_state_historically_with_population = pd.merge(intrafamiliar_violence_by_state_historically, sample_population, how='left', on='DEPARTAMENTO').dropna()
sexual_crimes_by_state_last_year_with_population = pd.merge(intrafamiliar_violence_by_state_last_year, sample_population, how='left', on='DEPARTAMENTO').dropna()

# Results
sexual_crimes_by_state_historically_with_population['NORMALIZED'] = sexual_crimes_by_state_historically_with_population['CONTEO'] / sexual_crimes_by_state_historically_with_population['POBLACIÓN']
sexual_crimes_by_state_last_year_with_population['NORMALIZED'] = sexual_crimes_by_state_last_year_with_population['CONTEO'] / sexual_crimes_by_state_last_year_with_population['POBLACIÓN']

In [33]:
sexual_crimes_by_state_historically_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3]

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
4        BOYACA   27822   172548.0    0.161242
3     SANTANDER   39174   581130.0    0.067410
24     PUTUMAYO    3311    56398.0    0.058708

In [34]:
sexual_crimes_by_state_last_year_with_population.sort_values(by='NORMALIZED', ascending=False).iloc[:3]

   DEPARTAMENTO  CONTEO  POBLACIÓN  NORMALIZED
4        BOYACA    3061   172548.0    0.017740
23     PUTUMAYO     399    56398.0    0.007075
3     SANTANDER    4103   581130.0    0.007060